@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto  
        hover:bg-green-600 bg-gray-800 
        text-slate-300 hover:text-white
        hover:rounded-xl rounded-3xl
        transition-all duration-300 ease-linear
        cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max -top-16 lg:top-0 lg:left-14 rounded-md shadow-md
        text-white bg-gray-900 
        text-xs font-bold 
        transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-800 
        border border-gray-800 rounded-full
        mx-2;
  }
}

.recharts-default-legend {
  left: 58px;
  top: -12px;
  position: relative;
}
